{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="jumbotron">
  <h1 style="float: left;">Hey customer {{customer.username}} </h1>
  

  <br><br><br>
  <form action="" method="POST">
    {% csrf_token %}
    <label for="department" style="float: left;margin-left:10px;">department:</label>
    <input type="text" name="department" placeholder="Enter department" style="float: left;margin-left:10px;">
    <label for="location" style="float: left; margin-left:30px;">Location </label>
    <input type="text" name="location" placeholder="Enter location" style="float: left;margin-left:10px;" value="{{ location_filter }}">
    
    <label for="min_rating" style="float: left; margin-left:30px;">Min Rating:</label>
    <input type="number" name="min_rating" min="0" max="5" step="0.1" placeholder="e.g. 4.0" style="float: left;margin-left:10px; width: 100px;" value="{{ min_rating_filter }}">

    <div class=" btn-group dropright" style="margin-left: 30px; float:left">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false"> Days </button>
      <div class="dropdown-menu dropdown-menu-right">
        <ul>
          <li class="dropdown-item " >
            <input type="checkbox" name="0" {% if 0 in days_filter_list %}checked{% endif %}>
            <label for="0" class="">Monday</label>
          </li>
          <li class="dropdown-item">
            <input type="checkbox" name="1" {% if 1 in days_filter_list %}checked{% endif %}>
            <label for="1">Tuesday</label>
          </li>
          <li class="dropdown-item">
            <input type="checkbox" name="2" {% if 2 in days_filter_list %}checked{% endif %}>
            <label for="2">Wednesday</label>
          </li>
          <li class="dropdown-item">
            <input type="checkbox" name="3" {% if 3 in days_filter_list %}checked{% endif %}>
            <label for="3">Thursday</label>
          </li>
          <li class="dropdown-item">
            <input type="checkbox" name="4" {% if 4 in days_filter_list %}checked{% endif %}>
            <label for="4">Friday</label>
          </li>
          <li class="dropdown-item">
            <input type="checkbox" name="5" {% if 5 in days_filter_list %}checked{% endif %}>
            <label for="5">Saturday</label>
          </li>
          <li class="dropdown-item">
            <input type="checkbox" name="6" {% if 6 in days_filter_list %}checked{% endif %}>
            <label for="6">Sunday</label>
          </li>
        </ul>
      </div>
    </div>

    <label for="sort_by" style="float: left; margin-left:30px;">Sort By:</label>
    <select name="sort_by" style="float: left;margin-left:10px;">
        <option value="-average_rating" {% if sort_by_value == '-average_rating' %}selected{% endif %}>Rating (High to Low)</option>
        <option value="average_rating" {% if sort_by_value == 'average_rating' %}selected{% endif %}>Rating (Low to High)</option>
        <option value="department_name" {% if sort_by_value == 'department_name' %}selected{% endif %}>Department (A-Z)</option>
        <option value="-department_name" {% if sort_by_value == '-department_name' %}selected{% endif %}>Department (Z-A)</option>
    </select>
    
    <input type="submit" class="btn btn-primary" value="search" style="float: right; margin-left:20px">
    <br>
  </form>
<br><br>
      <ul class="list-group" style="clear:both; margin-top: 20px;">
        {% for b in brokers %}
        <li class="list-group-item">
          <form action="" method="POST">
            {% csrf_token %}
            
            <a href="{% url 'app1:broker_reviews' pk=b.user.pk %}" style="color: black;"><b>{{b.user.username}}</b> ({{b.department_name}}) - Rating: {{b.average_rating|floatformat:2|default:"N/A"}}</a>
            <p style="margin-bottom: 2px;">Location: {{ b.location }}</p>
            {% if b.experience is not None %}
              <p style="margin-bottom: 2px;">Experience: {{ b.experience }} years</p>
            {% endif %}
            {% if b.skills %}
              <p style="margin-bottom: 2px;">Skills: {{ b.skills }}</p>
            {% endif %}
            {% if b.portfolio_link %}
              <p style="margin-bottom: 5px;">Portfolio: <a href="{{ b.portfolio_link }}" target="_blank">{{ b.portfolio_link }}</a></p>
            {% endif %}
            
            <input type="hidden" value="{{b}}" name="broker"> {# This seems incorrect, should be b.user.username or b.pk depending on how it's used in the view #}
            {# Corrected hidden input, assuming the view expects broker's primary key or username for connection #}
            <input type="hidden" value="{{b.user.username}}" name="broker">


            <label for="description_{{b.pk}}">Description/Reason for connection:</label>
            <input type="text" id="description_{{b.pk}}" name="description" placeholder="Enter a short note here" style="width: 70%;"> 
            <input type="submit" class="btn btn-success btn-sm" value="Connect" name="connect" style="margin: 5px; float:right;">
            </form>
        </li>
        
      {% endfor %}
      </ul>
      
    
    
  <br>
  <br>
  <br>
  
</div>

{% endblock content %}