{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>hey customer mr {{ user.username}}</h1>
    <br>
    <br>
    {% if psize %}
    <ul class="list-group">
      <li class="list-group-item"><h3>Pending orders are:</h3></li>
      {% for o in pendingorders %}
        <li class="list-group-item">
          <h5> To {{o.broker}}  requested at {{o.created_time}}</h5>
          <!-- <h6>order last modified at {{o.modified_time}}</h6> -->
          <h5>About:- {{o.description}}</h5>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
{% endblock content %}
  