{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="jumbotron">
    <h3>change your details here</h3>
    <br>
    {% if user.picture %}
    <img src="{{user.picture.url}}" alt="customer picture" style="height: 300px;width:auto;">
    {% endif %}
    <br>
    <br>
    <h4>leave blank for no changes</h4>
    
    <br>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{pictureform|crispy}}
      <br>
      <label for="username">username:</label>
      <input type="text" name="username" placeholder="{{broker.user.username}}">
      <br>
      <br>
      <label for="password">password:</label>
      <input type="password" name="password" placeholder="Enter new password">
      <br>
      <br>
      <label for="email">E-mail:</label>
      <input type="text" name="email" placeholder="{{broker.user.email}}">
      <br>
      <br>
      <label for="phonenumber">phone number:</label>
      <input type="text" name="phonenumber" placeholder="{{broker.user.phone_number}}">
      <br>
      <br>
      <label for="departmentname">Department name:</label>
      <input type="text" name="departmentname" placeholder="{{broker.department_name}}">
      <br>
      <br>
      <label for="location">Location:</label>
      <input type="text" name="location" placeholder="{{broker.location}}" value="{{ broker.location }}">
      <br>
      <br>
      <label for="experience">Experience (Years):</label>
      <input type="number" name="experience" placeholder="Years of experience" value="{{ current_experience|default_if_none:'' }}">
      <br>
      <br>
      <label for="skills">Skills (comma-separated):</label>
      <textarea name="skills" placeholder="e.g., Python, Django, Project Management">{{ current_skills|default_if_none:'' }}</textarea>
      <br>
      <br>
      <label for="portfolio_link">Portfolio Link:</label>
      <input type="url" name="portfolio_link" placeholder="https://example.com/portfolio" value="{{ current_portfolio_link|default_if_none:'' }}">
      <br>
      <br>
      <input type="submit" class="btn btn-success btn-large" value="save changes">
    </form>
  </div>
{% endblock content %}
  