<!doctype html>
{% load static %}
{% load bootstrap4 %}
{% load humanize %}
{% load crispy_forms_tags %}
<html lang="en">
  <head>
    <title>workiteasy</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- <style>
      .jumbotron{
        background-image:url({% static 'img/team7.jpg'%}) ;
      }
    </style> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script data-ad-client="ca-pub-1410057900464970" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <!-- <nav class="nav nav-tabs nav-stacked">
      <a class="nav-link active" href="#">Active link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link disabled" href="#">Disabled link</a>
    </nav> -->
    {% if user.is_authenticated %}
      {% if user.is_customer %}
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'app1:customer_home' %}">HOME</a>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'app1:customer_profile' %}">Your profile</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'app1:customer_orders' %}" role="button" aria-haspopup="true" aria-expanded="false"> my orders</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'app1:customer_pendingorders' %}">Pending orders</a>
                  <a class="dropdown-item" href="{% url 'app1:customer_acceptedorders' %}">Accepted orders </a>
                  <a class="dropdown-item" href="{% url 'app1:customer_rejectedorders' %}">Rejected orders</a>
                  <a class="dropdown-item" href="{% url 'app1:customer_completedorders' %}">Completed orders</a>
                  <a class="dropdown-item" href="{% url 'app1:customer_orders' %}">All orders</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'app1:customer_orders' %}" role="button" aria-haspopup="true" aria-expanded="false">Notifications 
                  {% ifequal tl 0  %} 
                  {% else %}
                  <span style="color:cyan;">{{tl}}</span>
                  {% endifequal %}
                </a>
                <div class="dropdown-menu">
                  {% include "_notification.html" %}
                </div>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'app1:customer_logout' %}">logout</a>
              </li>
            </ul>
          </div>
        </nav>
      {% endif %}
      {% if user.is_broker %}
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'app1:broker_home' %}">Home</a>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'app1:broker_profile' %}">Your profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'app1:broker_reviews' pk=user.pk %}" >My reviews</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'app1:broker_requests' %}" role="button" aria-haspopup="true" aria-expanded="false"> my requests</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'app1:broker_pendingrequests' %}">Pending requests</a>
                  <a class="dropdown-item" href="{% url 'app1:broker_acceptedrequests' %}">Accepted requests </a>
                  <a class="dropdown-item" href="{% url 'app1:broker_rejectedrequests' %}">Rejected requests</a>
                  <a class="dropdown-item" href="{% url 'app1:broker_completedrequests' %}">Completed requests</a>
                  <a class="dropdown-item" href="{% url 'app1:broker_requests' %}">All requests</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'app1:customer_orders' %}" role="button" aria-haspopup="true" aria-expanded="false">Notifications 
                  {% ifequal tl 0  %} 
                  {% else %}
                  <span style="color:cyan;">{{tl}}</span>
                  {% endifequal %}
                </a>
                <div class="dropdown-menu">
                  {% include "_notification.html" %}
                </div>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'app1:broker_logout' %}">logout</a>
              </li>
            </ul>
          </div>
        </nav>
      {% endif %}
    {% else %}
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'app1:homepage' %}">Workiteasy</a>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" >Contact us </a>
            </li>
          </ul>
        </div>
    </nav>
    {% endif %}

    {% block content %}
      
    {% endblock content %}
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- 35 px for navbar -->
  </body>
</html>
