{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>welcome to project-z</h1>
    <br>
    <br>
    <h3>please select your category </h3>
    <br>
    <br>
    <a href="{% url 'app1:customer_login' %} " class="btn btn-large btn-primary"> Customer</a>
    <a href="{% url 'app1:broker_login' %} " class="btn btn-large btn-primary"> Mediator</a>
    <!-- <a href="{% url 'admin:index' %} " class="btn btn-large btn-primary">admin</a> -->
  </div>
  
  
{% endblock content %}
  